

{{#if (eq @model "container")}}
 <div style="background-color:{{safe @colour}};" class="card m-2 p-2
              shadow-md border-gray-200 border rounded-lg">
 <LinkTo @route={{@route}} @model={{@id.task.id}} {{on "click" (fn this.restore @id)}} >
{{@id.title}}: {{@id.task.title}} 
 </LinkTo>
</div>
{{else}}
{{#if this.showCard}}
  <div style="background-color:{{safe @colour}};" class="card m-2 p-2
              shadow-md border-gray-200 border rounded-lg">
 <LinkTo @route={{@route}} @model={{@id.id}} {{on "click" (fn this.restore @id)}}>

      {{!-- Restore old card --}}
      {{#if @model}}
      <div class="flex wrap text-gray-700">
       <div class="flex-1 w-full"><span class="bg-gray-200 rounded-lg flex-1 w=10 p-1">Restore</span> {{@model.title}}</div>
       {{#each @model.questions as |question|}}
      <div class="flex-1 w=20">{{question.question}}:  {{question.response}} 
     </div>
      {{/each}}
      <div class="flex-1 w-full text-gray-600 text-sm font-bold"><em>{{date @model.modifiedDate}}</em> </div> 
   
       </div>


      {{else}}
      <div class="flex wrap">
      {{#let this.questionStats as |stat|}}
      <div class="flex-1 w-full"> {{@title}}
        <span class="text-sm  {{if stat.complete "  text-teal-600" "text-orange-600" }}">
          {{if stat.complete "✓ 100%" stat.text}} </span>
      </div>
      {{/let}}
      <div class=" text-gray-600 text-sm font-bold"><em>{{date @due}}</em> </div>
    </div>
        <p></p>
    {{@description}}
      {{/if}}

</LinkTo>
 {{#if  @model}}
   <div  class="flex-1 w-full text-right font-bold"><button class="font-bold" type="button" {{on "click" this.showingCard}} >X</button></div>
 {{/if}} 
  </div>
 
{{/if}}
{{/if}}

{{yield}}