{{!-- closed container --}}
{{#if (eq @model.level @level)}}

    <div class="w-full h-auto m-2 p-2 shadow-md
            border-2 rounded-md
            border-blue-300 text-left">
    
{{#if this.closed}}
{{!-- container level matches level argument --}}

    <div class="wrap flex">
            <button type="button" class="w-full text-left" {{on "click" this.openContainer}}>
                {{@model.title}}
            </button>
</div>
{{/if}}

{{!-- container not closed (...open!) --}}
{{#if (eq this.closed false)}}

<div class="wrap flex">
    <div class="w-full h-auto
           text-left">
        <button type="button" class="w-full text-left" {{on "click" this.openContainer}}>close</button>
            <Forms @forms={{@model.forms}} @archive={{ @archive}} @showArchive={{@showArchive}} />    
    </div>
</div>
{{!-- show sub container --}}
 {{#each @containers as |container|}} 
 <Container @model={{container}} @containers={{@containers}}  @level={{@model.id}} @archive={{@archive}} @showArchive={{@showArchive}} /> 
{{/each}}
{{/if}}
       
    </div>

{{/if}}
{{yield}}