{{#if this.show}}
<div class="m-2 p-2
            shadow-md border-gray-400
            bg-gray-200">

  <label for="title">Title</label>
  <Input id="title" class="shadow-md border-2 border-gray-400" 
  placeholder="Name"
  {{did-insert this.resetForm}}
  modelName={{@modelName}}
  @value={{this.newName}} 
  {{on "keyup" this.searchMatches}}
  @enter={{this.createCard}}
  {{!-- {{on-key "Enter" this.createCard event="keydown"}} --}}
   />
  <button class="p-2 font-bold" {{on "click" this.showCard}} type="button"> X
  </button>
  {{#if (is-empty @method)}}
  Add:
  <label for={{@question.question}}>{{@question.question}}</label>
  <select id="test" {{on "change" this.updateModel}}>
    <option value="form-template">Form</option>
    <option value="method">Method</option>
  </select>
  {{/if}}

  {{#if @list}}

  {{#each @list as |item|}}  
  {{#if (or (eq item.archive false) (eq item.archive undefined))}}
  <div>
    <button {{on "click" (fn this.addFormTemplate item.id)}} type="button">
      {{item.title}}
    </button>
  </div>
  {{/if}}
  {{/each}}
  {{ else }}
  {{#each this.query as |item|}} 
  {{#if (or (eq item.archive false) (eq item.archive undefined))}}
  <div>   
    <button {{on "click" (fn this.addFormTemplate item.id)}} type="button">
      {{item.title}}
    </button>
  </div>
  {{/if}}
 
  {{/each}}
 
  {{#if (and (not-eq this.newName "") (eq this.query ""))}}
  <div>
    <button type="submit" {{on "click" this.createCard}}>Create!</button>
  </div>
  {{/if}}

  {{/if}}

</div>

{{else}}

<div class="m-2 p-2 border
            shadow-md border-gray-400
            bg-gray-200">
  <button class="add w-full text-left" {{on "click" this.showCard}} type="button">
    <em>{{@label}}</em>
  </button>
</div>
{{/if}}

{{yield}}