<div class="wrap flex">
<div class="w-full m-2 p-2 shadow-md border-2 rounded-md
            border-teal-300 text-left">
        
<div class="wrap flex">
<div class="font-bold p-2 text-gray-600 w-3/4">Editing Form Template...</div>
{{#if (or (eq @forms.formTemplate.archive false) (eq @forms.formTemplate.archive undefined))}}
<button class="text-right border-gray-400 border p-2 rounded-md bg-gray-200 text-sm m-1" 
 {{on "click" (fn this.removeFormTemplate @forms.formTemplate.id)}} 
 type="button">
 Archive
 </button>
{{/if}}
{{#if (eq @forms.formTemplate.archive true)}}
<button class="text-right border-gray-400 border p-2 rounded-md bg-gray-200 text-sm m-1" 
 {{on "click" (fn this.removeFormTemplate @forms.formTemplate.id)}} 
 type="button">
 Re-Activate
 </button>
{{/if}}
</div>
<hr class="border-t-2 border-gray-400">
<div class="font-bold p-2">
<label for="title">Title</label><span class="ml-2"> 
 <Input
 id="title" class="m-2 w-30 border-b border-gray-400"
 @value={{@forms.formTemplate.title}}
/> 
</span>
</div>

<div class="font-bold p-2">
Description <span class="ml-2"> 
 <Input class="m-2 w-30 border-b border-gray-400" 
 id="vehicle1" name="vehicle1" 
@value={{@forms.formTemplate.description}}
 {{did-insert this.focus}}
/></span>
</div>

<CreateCard @modelName="container" @label="Add Default Container" @method={{@method.id}}/>

<div class="font-bold p-2">  
<label for="multi">Mutli-entry form</label> <span class="ml-2"> 
<Input id="multi" class="m-2 w-30 border-b border-gray-400" 
@type="checkbox"
name="multiEntry"
@checked={{@forms.formTemplate.multiEntry}}
/>
</span>
</div>
{{#each @forms.formTemplate.questionTemplates as |question index|}}
<EditQuestion @question={{question}} 
              @index={{index}}
              @formChange={{this.formChange}} 
              @show={{this.showthis}}/>
{{/each}}

<div class="p-2">

<p></p><button class="border-gray-400 border-2 p-2" {{on "click" this.addQuestion}} type="button">
Add Question
</button>

<button class="border-gray-400 border-2 p-2" {{on "click" this.saveForm}} type="button">
Save Form
</button>

<button class="border-gray-400 border-2 p-2" {{on "click" this.saveReplaceForm}} type="button">
Save & Replace Form
</button>

<button {{on "click" @edit}} class="border-gray-400 border-2 p-2" type="button">
Cancel
</button>

</div>
<p></p>
</div>
</div>

{{yield}}