<div class="edit-question font-bold p-2">
Question<span class="ml-2">
  
<Input class="m-2 w-30 border-b border-gray-400" 
@value={{@question.question}}
 {{did-insert this.focus}}
/></span>
<span>
 <button class="border-gray-400 border p-1 rounded-md"
 {{on "click" (fn this.removeQuestion @question.id)}}
 type="button"
 >Remove
 </button>
 </span>
<p></p>
Required <span class="ml-2"> 
<Input class="m-2 w-30 border-b border-gray-400" 
@type="checkbox"
name="required"
@checked={{@question.required}}
/>
</span>
<p></p>
{{#if (and @question.type (eq this.showField false))}}
Type: 
<button 
 class="ml-2 p-1 border border-gray-400"
 {{on "click" (fn this.showInput @question.type)}}
 type="button">
 {{@question.type}}  
</button>
{{/if}}

{{#if (and (eq @question.type "select") (eq this.showField false))}}
<p></p>Comma seperate options: 
<button
 class="ml-2 p-1 border border-gray-400"
 {{on "click" (fn this.showInput @question.type)}}
 type="button">
 {{@question.options}}
</button>
{{/if}}

{{#if (and (eq @question.type "number") (eq this.showField false))}}
<p></p>Number options 
<button
 class="ml-2 p-1 border border-gray-400"
{{on "click" (fn this.showInput @question.type)}}
type="button">
 Max {{@question.max}}  Min {{@question.min}}
</button>
{{/if}}

{{#if (and (eq @question.type "text") (eq this.showField false))}}
<p></p>Text options 
<button
 class="ml-2 p-1 border border-gray-400"
{{on "click" (fn this.showInput @question.type)}}
type="button">
 Uneditable response: {{@question.default}}
</button>
{{/if}}


{{#if (or showField @show)}}
<div  
     {{on "change" this.select}} 
     {{ref this "formElement"}}
    >

<label for={{@question.type}}>Type</label>
<select id={{@question.id}} name="type">
    {{#if @question.type}} 
  <option selected="true" value="{{@question.type}}">{{@question.type}} </option>  
    {{else}}
  <option  selected="true" value="text">--Pick one--</option>
  {{/if}}  
   <option value="text">text</option>
  <option value="number">number</option>
  <option value="date">date</option>
  <option value="time">time</option>  
  <option value="select">select</option>  
  <option value="checkbox">checkbox</option>  
  <option value="select">select</option>
  <option value="select">textarea</option>
</select> 
</div>
{{/if}}

</div>
{{#if (eq this.selecting "select")}}
Comma seperated options: 
<div>
<Textarea
 class="m-2 w-30 border-b border-gray-400"
 @type="text"
 @value={{@question.options}}
 rows="5" cols="34"/>
 </div>
{{/if}}

{{#if (eq this.selecting "text")}}
Uneditable default response: 
<Input 
 class="m-2 w-30 border-b border-gray-400"
 @type="text"
 @value={{@question.default}}/>
{{/if}}

{{#if (eq this.selecting "number")}}
 Min
<Input 
 class="m-2 w-30 border-b border-gray-400"
 @type="text"
 @value={{@question.min}}/>
Max
<Input 
 class="m-2 w-30 border-b border-gray-400"
 @type="text"
 @value={{@question.max}}/>
Step
<Input 
 class="m-2 w-30 border-b border-gray-400"
 @type="text"
 @value={{@question.step}}/>
{{/if}}

<div  
   {{on "change" this.selectUnits}} 
 >
<label for={{@question.type}}>Unit of measure</label>
<select id={{@question.id}} name="units">
    {{#if @question.units}} 
  <option selected="true" value="{{@question.units}}">{{@question.units}} </option>  
    {{else}}
  <option  selected="true" value="none">--Pick one--</option>
  {{/if}}  
   <option value="none">none</option>
  <option value="metres">metres</option>
  <option value="cm">cm</option>
  <option value="km">km</option>  
  <option value="grams">grams</option>  
  <option value="kg">kg</option>  
</select> 
</div>

<hr>
{{yield}}