<div class="wrap flex">
<div class="w-full m-2 p-2 shadow-md border-2 rounded-md
            border-teal-300 text-left">
        

<div class="font-bold p-2 text-gray-600">Editing Form Template...</div>
<hr class="border-t-2 border-gray-400">
<div class="font-bold p-2">
Title <span class="ml-2"> 
 <Input
 class="m-2 w-30 border-b border-gray-400"
 @value={{@formTemplate.title}}
/> 
</span>
</div>

<div class="font-bold p-2">
Description <span class="ml-2"> 
 <Input class="m-2 w-30 border-b border-gray-400" 
 id="vehicle1" name="vehicle1" 
@value={{@formTemplate.description}}
 {{did-insert this.focus}}
/></span>
</div>

<div class="font-bold p-2">  
Mutli-entry form <span class="ml-2"> 
<Input class="m-2 w-30 border-b border-gray-400" 
@type="checkbox"
name="multiEntry"
@checked={{@formTemplate.multiEntry}}
/>
</span>
</div>

<div class="font-bold p-2">
{{#each @formTemplate.questionTemplates as |question|}}
Question<span class="ml-2">
<Input class="m-2 w-30 border-b border-gray-400" 
@value={{question.question}}
 {{did-insert this.focus}}
/></span>
<p></p>
Type<span class="ml-2">
<Input class="m-2 w-30 border-b border-gray-400" 
@value={{question.type}} 
/></span>


<!--
<label for={{question.type}}>Type</label>
<select id={{question.id}} >
  <option selected="true" value="">--- pick ---</option>
  <option value="input">text</option>
  <option value="number">number</option>
  <option value="date">date</option>
  <option value="time">time</option>  
</select> 
<p></p>
-->
{{/each}}

<AddQuestion @count={{this.count}} />  

<p></p><button class="border-gray-400 border-2 p-2" {{on "click" this.addQuestion}}>
Add Question
</button>

<button class="border-gray-400 border-2 p-2" {{on "click" this.saveForm}}>
Save Form
</button>

<button class="border-gray-400 border-2 p-2" {{on "click" this.saveReplaceForm}}>
Save & Replace Form
</button>

<button {{on "click" @edit}} class="border-gray-400 border-2 p-2">
Cancel
</button>

<p></p>
</div>
</div>
</div>


{{yield}}