

{{!-- Need to display questionTemplate here to resolve promise??! --}}
{{#each @model.questions as |question|}}
{{question.questionTemplate.awda}}   
{{/each}}


{{!-- Edit form --}}
{{#if @model.edit}}
{{!-- {{#each @formTemplates as |formTemplate|}} --}}

{{!-- {{#if (eq allform.id @model.templateId)}} --}}
<EditForm @forms={{@model}} @edit={{this.editForm}} />
{{!-- {{/if}} --}}
{{!-- {{/each}} --}}
{{else}}
{{!-- Closed form --}}
<div class="wrap flex">
      <div class="w-full h-auto m-2 p-2 shadow-md
            border-2 rounded-md
            border-teal-300 text-left">
            <div class="wrap flex">
                  <button type="button" class="w-full text-left" {{on "click" this.showQuestion}}>
                        <div class="font-bold">{{@model.formTemplate.title}}
                              {{#let this.questionStats as |stat|}} 
                              {{#let this.formStats as |formStat|}} 
                              <span class="text-sm  {{if stat.complete " text-lg text-teal-600" "text-orange-600" }}">
                                    {{if stat.complete "✓" stat.text}} {{if @model.multiEntry "≡"}}   <span class="text-sm"> {{if @model.multiEntry formStat.total}}</span>
                              </span>
                              {{/let}}
                              {{/let}}
                        </div>
                  </button>
                  {{!-- Open form menu --}}
                  {{#if this.shows}}
                  <div class="w-8 text-right block">
                         <Menu @id={{@model.id}} @label="form" @title="..." @archive={{this.archiveForm}}
                                          @edit={{this.editForm}} @model={{@model}} />

                        {{!-- <Menu @id={{@model.id}} @label="form" @model={{@model}} @title="..." @edit={{this.editForm}} /> --}}
                  </div>
                  {{/if}}
            </div>
            {{#if this.shows}}
            <div>{{@model.description}}</div>
            {{!-- Open form questions --}}
            <div {{on "change" this.formChange}} {{ref this "formElement" }}>
                  {{#let this.orderByPosition as | orderedquestions|}}
                   {{!-- this.orderByPosition takes in multiple questions and orders them --}}
                  {{#each orderedquestions as |question index|}}    
                          
                  <FormQuestion @form={{@model}} @question={{question}} @input={{this.input}} @index={{index}}
                        @hideEditQuestion={{this.hideEditQuestion}} @display={{false}} @update={{index}}
                        @hideEditingQuestion={{this.hideEditingQuestion}} @questionTemplates={{question.questionTemplate}}/>
                  {{/each}}
                  {{/let}}
                  <div class="grid grid-cols-1">
                        {{!-- Submit form --}}
                        {{#let this.questionStats as |stat|}}
                        {{#if (or this.hideEditQuestion (eq stat.complete false) @model.multiEntry)}}

                        <button class="place-content-center m-2 p-1 rounded-md bg-indigo-800 text-white font-bold"
                              formid={{@model.id}} update="false" type="button" {{on "click" this.addSelections}}>Submit
                        </button>
                        <button class="place-content-center m-2 p-1 border-1 border-gray-800 rounded-md bg-gray-400"
                              formid={{@model.id}} update="false" type="button" {{on "click" this.showQuestion}}>Cancel
                        </button>
                        {{/if}}
                        {{/let}}
                  </div>
                  <p></p>
            </div>

            {{!--
            Display multi-entry responses
            (from all forms with matching templateId)
            --}}
            {{#each @allforms as |form index|}}
            {{#if form.multiEntry}}                  
            {{#if (eq form.formTemplateId @model.formTemplateId) }}
            {{#if form.display}}
            {{#if (not-eq form.archive true)}}
            <div class="wrap flex">
                  <div class="w-full h-auto border border-teal-300 m-1 p-1 rounded-md">                       
                        <div class="wrap flex">
                              <button class="w-full text-left block" type="button" {{on "click" (fn this.showMenu
                                    index)}}>
                                    <div {{on "change" this.formChange}} {{ref this "formElement" }}>
                                          <FormQuestion::Filter @questions={{form.questions}} as |questions|>
                                                {{#each questions as |question index|}}
                                                {{#if question.response}}
                                                <FormQuestion @form={{@model}} @question={{question}}
                                                      @input={{this.input}} @hideEditQuestion={{this.hideEditQuestion}}
                                                      @index={{index}} @display={{true}}
                                                      @addSelections={{this.addSelections}} @update={{true}}
                                                      @hideEditingQuestion={{this.hideEditingQuestion}} @questionTemplates={{@model.formTemplate.questionTemplates}}/>
                                                <p></p>
                                                {{/if}}
                                                {{/each}}
                                          </FormQuestion::Filter>
                                    </div>
                              </button>
                      
                              <div class="w-8 text-right block">
                                    <Menu @id={{form.id}} @label="form" @title="..." @archive={{this.archiveForm}}
                                          @edit={{this.editForm}} @model=""/>
                              </div>
                           
                        </div>
                  </div>
            </div>
            {{/if}}
            {{/if}}
            {{/if}}
            {{/if}}
            {{/each}}
            {{/if}}
      </div>
</div>
{{/if}}
{{yield}}