
{{!--  ######## MULTIENTRY QUESTION ################################  --}}
{{#if @question.multiEntry}}
  {{!--  ### Index 1 (first form in task) ###  --}}
  {{#if   (eq @display false)}}
    {{#if (eq @question.type "select")}}
      {{#let this.options as |options|}}      
        <p></p>
        <label for={{@question.question}}>{{@question.question}}</label>
        <select multientry={{@question.multiEntry}}
                id={{@question.id}}              
                >
        <option selected="true" value="">--- pick ---</option>     
        {{#each options as |op|}}      
          <option value={{op}}>{{op}}</option>   
        {{/each}}     
        </select> 
         <p>  {{#if (not-eq @question.units 'none')}}{{@question.units}}{{/if}}</p>         
     {{/let}}
    {{!-- If mulitEntry question type not 'select': --}}
    {{else}}
      <p></p>
      {{@question.question}} <span class="ml-2"> 
      <Input class="m-2 border-b border-gray-400" 
      id={{@question.id}}
      response={{if @question.multiEntry "" @question.response}}
      @formid={{true}}      
      @value={{if @question.multiEntry "" this.value}}       
      @type={{@question.type}}
      max={{@question.max}}
      min={{@question.min}}
      step={{@question.step}}
      {{did-insert this.focus}}
      @required={{@question.required}}
      />  {{#if (not-eq @question.units 'none')}}{{@question.units}}{{/if}}</span>
      <p></p>    
    {{/if}}
    {{!-- If @display true then rendered button --}}
  {{else}}
   {{#if (or (and @display this.showField) (and @display (eq @hideEditQuestion true)))}}    
     {{@question.question}}:
     <button 
     class="ml-2 mb-1 p-1  px-3 border border-gray-400 rounded-sm"
     {{on "click" this.showInput}}
     type="button">
     {{@question.response}}  
    </button>
    <p></p> 
   {{/if}}  
   {{#if (and @display (eq this.showField false))}}        
    {{#if (eq @question.type "select")}} 
          {{#let this.options as |options|}}            
          <p></p>
        <label for={{@question.question}}>{{@question.question}}</label>
        <select multientry={{@question.multiEntry}}
                id={{@question.id}} >            
      {{#each options as |op|}}      
               <option value={{op}}>{{op}}</option>   
      {{/each}}     
        </select>    {{#if (not-eq @question.units 'none')}}{{@question.units}}{{/if}}      
  {{/let}}
      <button class="p-2 font-bold"
      {{on "click" this.showInput}}
      type="button">X
      </button>
    {{else}} 
      <p></p>     
      {{@question.question}} <span class="ml-2"> 
      <input class="m-2 border-b border-gray-400" 
      id={{@question.id}}
      response={{if @question.multiEntry "" @question.response}}
      formid={{true}}      
      value={{@question.response}}
      type={{@question.type}}
      required={{@question.required}}
      {{did-insert this.focus}}
      />  {{#if (not-eq @question.units 'none')}}{{@question.units}}{{/if}}</span> 
      <button class="p-2 font-bold"
      {{on "click" this.showInput}}
      type="button">X
      </button>
      
    {{/if}}
      <button class="place-content-center m-2 p-1 rounded-md text-indigo-800 font-bold border-2 border-indigo-800"
      formid={{@form.id}} 
      update="true"         
      type="submit"
      form="false"
      {{on "click" this.save}}>Update
      </button>
      <p></p>
    {{/if}}
  {{/if}}
{{/if}}

{{!-- <!-- ############ SINGLE ENTRY QUESTION ####################### --> --}}
{{!-- <!-- ### On first entry ### --> --}}
{{#if (eq @question.multiEntry false)}}   
   {{#if (eq @hideEditQuestion false)}}  
    {{#if (eq @question.response '')}}    
       {{#if (eq @question.type "image")}}  
        <p></p>
      <label for={{@question.question}}>{{@question.question}}</label>
	     <input type="file" id="imageFile" capture="user" accept="image/*">
          <p></p>
      {{else}}    
      {{#if (eq @question.type "select")}}        
        {{#let this.options as |options|}}      
          <p></p>
          <label for={{@question.question}}>{{@question.question}}</label>
          <select multientry={{@question.multiEntry}}
                 id={{@question.id}} >
          <option selected="true" value="">--- pick ---</option>     
          {{#each options as |op|}}      
            <option value={{op}}>{{op}}</option>   
          {{/each}}     
          </select> 
          <p>  {{#if (not-eq @question.units 'none')}}{{@question.units}}{{/if}}</p>
        {{/let}}      
      {{else}}     
           {{#if @question.default}}
         <p></p>        
        <label>{{@question.question}}: <span class="ml-2">    
          {{@question.default}} </span>
          </label>
             <p></p>    
      {{else if (not-eq @question.type "checkbox")}} 
        <p></p>        
        <label>{{@question.question}} <span class="ml-2">     
        <Input class="m-2 border-b border-gray-400"         
        id={{@question.id}}
        response={{if @question.multiEntry "" @question.response}}
        @formid={{@form.id}}           
        @value={{if @question.multiEntry "" this.value}}           
        @type={{@question.type}}        
        max={{@question.max}}
        min={{@question.min}}
        step={{@question.step}}
        @required={{@question.required}}
        {{did-insert this.focus}}
        /> {{#if (not-eq @question.units 'none')}}{{@question.units}}{{/if}}</span>
        </label>
        <p></p>   
   
        {{else}}     
        <p></p>                
        <label>{{@question.question}} <span class="ml-2">     
        <Input class="m-2 border-b border-gray-400"         
        id={{@question.id}}
        response={{if @question.multiEntry "" @question.response}}
        @formid={{@form.id}}       
        @checked=""       
        @type={{@question.type}} 
        @required={{@question.required}}
        {{did-insert this.focus}}
        />  {{#if (not-eq @question.units 'none')}}{{@question.units}}{{/if}}</span>
        </label>
        <p></p>        
        {{/if}}
      {{/if}}
    {{/if}}   
       {{/if}}   
    {{#if @question.response}}  
   
    {{!-- <!-- ### If response entered #### --> --}}
    {{@question.question}}:
    <button 
     class="ml-2 mb-1 p-1  px-3 border border-gray-400 rounded-sm"
     {{on "click" @hideEditingQuestion}}
     type="button">
     {{#if (eq @question.type "checkbox")}}
     ✓ 
     {{else}}
     {{@question.response}}  
     {{/if}}
    </button>
    <p></p>    
    {{/if}}
   {{/if}} 
  {{!-- <!-- ### On update #### -->  --}}
  
    {{#if @hideEditQuestion}}   
      {{#if (eq @question.type "select")}} 
      {{#let this.options as |options|}}      
          <p></p>
        <label for={{@question.question}}>{{@question.question}}</label>
        <select multientry={{@question.multiEntry}}
                id={{@question.id}} >            
      {{#each options as |op|}}      
          <option selected={{if (eq @question.response op) true}} value={{op}}>{{op}}</option>   
      {{/each}}     
        </select> 
        <p>  {{#if (not-eq @question.units 'none')}}{{@question.units}}{{/if}}</p>
   {{/let}}
      {{else}}  
           {{#if @question.default}}
         <p></p>        
        <label>{{@question.question}}: <span class="ml-2">    
          {{@question.default}} </span>
          </label>
             <p></p>  
      {{else if (not-eq @question.type "checkbox")}}   
      <p></p>
      {{@question.question}} <span class="ml-2">        
      <input class="m-2 border-b border-gray-400" 
      id={{@question.id}}
      response={{if @question.multiEntry "" @question.response}}
      formid={{true}}     
      value={{@question.response}}     
      type={{@question.type}}
      checked={{@question.response}}
      max={{@question.max}}
      min={{@question.min}}
      step={{@question.step}}       
      required={{@question.required}}
      {{did-insert this.focus}}
      />   {{#if (not-eq @question.units 'none')}}{{@question.units}}{{/if}}</span> 


      <p></p>
      {{else}}
      {{!-- checkbox!? --}}
      <p></p>        
        <label>{{@question.question}} <span class="ml-2">     
        <input class="m-2 border-b border-gray-400"  
        {{!-- {{on "click" (fn @hideEditingQuestion)}}   --}}
        id={{@question.id}}
        response={{@question.response}}
        formid={{@form.id}}       
        checked={{@question.response}}              
        type={{@question.type}} 
        required={{@question.required}}
        {{did-insert this.focus}}
        /></span>
        </label>
        <p></p>  
      {{/if}}
      {{/if}}  
    {{/if}}
  {{!-- {{/if}} --}}
{{/if}}

{{yield}}