{{!--  ######## MULTIENTRY QUESTION ################################  --}}
{{#if @question.multiEntry}}
  {{!--  ### Index 1 (first form in task) ###  --}}
  {{#if   (eq @display false)}}
    {{#if (eq @question.type "select")}}
      <p></p>
      <label for={{@question.question}}>{{@question.question}}</label>
      <select multientry={{@question.multiEntry}}
              id={{@question.id}} >
        <option selected="true" value="">--- pick ---</option>
        <option value="Robin">Robin</option>
        <option value="Fox">Fox</option>
        <option value="Badger">Badger</option>
        <option value="Hedgehog">Hedgehog</option>  
      </select> 
      <p></p>
    {{!-- If mulitEntry question type not 'select': --}}
    {{else}}
      <p></p>
      {{@question.question}} <span class="ml-2"> 
      <Input class="m-2 border-b border-gray-400" 
      id={{@question.id}}
      response={{if @question.multiEntry "" @question.response}}
      @formid={{true}}      
      @value={{if @question.multiEntry "" this.value}}       
      @type={{@question.type}}
      {{did-insert this.focus}}
      /></span>
      <p></p>    
    {{/if}}
    {{!-- If @display true then rendered button --}}
  {{else}}
   {{#if (or (and @display this.showField) (and @display (eq @hideEditQuestion true)))}}    
     {{@question.question}}:
     <button 
     class="ml-2 mb-1 p-1  px-3 border border-gray-400 rounded-sm"
     {{on "click" (fn this.showInput)}}>
     {{@question.response}}  
    </button>
    <p></p> 
   {{/if}}  
   {{#if (and @display (eq this.showField false))}}        
    {{#if (eq @question.type "select")}} 
     <label for={{@question.question}}>{{@question.question}}</label>
     <select multientry={{@question.multiEntry}}
             id={{@question.id}} >
      <option selected="true" value="">--- pick ---</option>
      <option value="Robin">Robin</option>
      <option value="Fox">Fox</option>
      <option value="Badger">Badger</option>
      <option value="Hedgehog">Hedgehog</option>  
      </select> 
      <button class="p-2 font-bold"
      {{on "click" (fn this.showInput )}}>X
      </button>
    {{else}} 
      <p></p>     
      {{@question.question}} <span class="ml-2"> 
      <Input class="m-2 border-b border-gray-400" 
      id={{@question.id}}
      response={{if @question.multiEntry "" @question.response}}
      @formid={{true}}      
      @placeholder={{@question.response}}
      @type={{@question.type}}
      {{did-insert this.focus}}
      /></span> 
      <button class="p-2 font-bold"
      {{on "click" (fn this.showInput )}}>X
      </button>
      
    {{/if}}
      <button class="place-content-center m-2 p-1 rounded-md text-indigo-800 font-bold border-2 border-indigo-800"
      formid={{@form.id}} 
      update="true"         
      type="submit"
      form="false"
      {{on "click" (fn this.save)}}>Update
      </button>
      <p></p>
    {{/if}}
  {{/if}}
{{/if}}

<!-- ############ SINGLE ENTRY QUESTION ####################### -->
<!-- ### On first entry ### -->
{{#if (eq @question.multiEntry false)}}   
   {{#if (eq @hideEditQuestion false)}}   
   
    {{#if (eq @question.response '')}}               
      {{#if (eq @question.type "select")}}
        <p></p>
        <label for={{@question.question}}>{{@question.question}}</label>
        <select multientry={{@question.multiEntry}}
              id={{@question.id}} >
          <option selected="true" value="">--- pick ---</option>
          <option value="Robin">Robin</option>
          <option value="Fox">Fox</option>
          <option value="Badger">Badger</option>
          <option value="Hedgehog">Hedgehog</option>   
        </select> 
        <p></p>
      {{else}}
        <p></p>
        <label>{{@question.question}} <span class="ml-2"> 
        <Input class="m-2 border-b border-gray-400"         
        id={{@question.id}}
        response={{if @question.multiEntry "" @question.response}}
        @formid={{@form.id}}        
        @value={{if @question.multiEntry "" this.value}}         
        @type={{@question.type}}
        {{did-insert this.focus}}
        /></span>
        </label>
        <p></p>
      {{/if}}
    {{/if}}   
    {{#if @question.response}}  
   
    <!-- ### If response entered #### -->
    {{@question.question}}:
    <button 
     class="ml-2 mb-1 p-1  px-3 border border-gray-400 rounded-sm"
     {{on "click" (fn @hideEditingQuestion)}}>
     {{@question.response}}  
    </button>
    <p></p>    
    {{/if}}
   {{/if}} 
  <!-- ### On update #### -->
  {{!-- {{#if (eq this.showField false)}}    --}}
  
    {{#if @hideEditQuestion}}
      {{#if (eq @question.type "select")}} 
       <label for={{@question.question}}>{{@question.question}}</label>
       <select multientry={{@question.multiEntry}}
               id={{@question.id}} >
        <option selected="true" value="">--- pick ---</option>
        <option value="Robin">Robin</option>
        <option value="Fox">Fox</option>
        <option value="Badger">Badger</option>
        <option value="Hedgehog">Hedgehog</option>  
        </select> 
        <button class="p-2 font-bold"
          {{on "click" (fn @hideEditingQuestion)}}>X
        </button>
      {{else}}     
      <p></p>
      {{@question.question}} <span class="ml-2"> 
      <Input class="m-2 border-b border-gray-400" 
      id={{@question.id}}
      response={{if @question.multiEntry "" @question.response}}
      @formid={{false}}      
      @placeholder={{@question.response}}    
      @type={{@question.type}}
      {{did-insert this.focus}}
      /> </span>
       <button class="p-2 font-bold"
      {{on "click" (fn @hideEditingQuestion)}}>X
      </button>    
      <p></p>
      {{/if}}  
    {{/if}}
  {{!-- {{/if}} --}}
{{/if}}

{{yield}}