
{{#if this.showField}}
{{#if (eq @question.type "select")}}
{{#if (eq @question.rep 1)}}
<p></p>
 <label for="insects">{{@question.question}}</label>

<select multientry={{@question.multiEntry}}
        id={{@question.id}} >
  <option selected="true" value="">--- pick ---</option>
  <option value="Robin">Robin</option>
  <option value="Fox">Fox</option>
  <option value="Badger">Badger</option>
  <option value="Hedgehog">Hedgehog</option>  
</select> 
<p></p>

{{/if}}
{{/if}}
{{#if (eq @question.rep 1)}}
{{#if (eq @question.type "input")}}
{{#if @question.response}}

<!-- If response previously entered show input value--> 
{{@question.question}}:
<button 
 class="ml-2 p-1 border border-gray-400"
 {{on "click" (fn this.showInput value=@question.response)}}>
 {{@question.response}}  
</button>
<p></p>

{{else}}

 <!-- If response empty open empty input field--> 
<p></p>
{{@question.question}} <span class="ml-2"> 
 <Input class="m-2 border-b border-gray-400" 
 id={{@question.id}}
 response={{if @question.multiEntry "" @question.response}}
 @formid={{@formid}}
 @value={{if @question.multiEntry "" this.value}} 
 @showField={{if @question.response true}} 
 {{did-insert this.focus}}
 /></span>
<p></p>

 {{/if}}
 {{/if}}
 {{/if}}

<!-- If showField false open input with response --> 
{{else}} 

<p></p>
{{@question.question}}:
 <!-- If multi-entry input value is emtpy --> 
 <!-- 'response' attribute is used below as @value can be updated
 but we roll back to saved response if 'X' cancel selected --> 
 <span class="ml-2">    
 <Input class="m-2 border-b border-gray-400" 
 id={{@question.id}}
 response={{if @question.multiEntry "" @question.response}}
 @formid={{@formid}}
 @value={{if @question.multiEntry ""  @question.response}} 
  />

<button class="p-2 font-bold"
  {{on "click" (fn this.cancel)}}>X
</button>
</span>
<p></p>
{{/if}}

{{yield}}