
{{#if this.edit}}

{{#each @formTemplates as |formTemplate|}}
Hello from form-card.hbs template.id: {{formTemplate.id}} form.templateId: {{@model.templateId}}
{{#if (eq template.id @model.templateId)}}
<EditForm @forms={{@model}} @edit={{this.editForm}} @form={{formTemplate}} />
{{/if}}
{{/each}}
{{else}}



<div class="wrap flex">
<div class="w-full h-auto m-2 p-2 shadow-md border-2 rounded-md
            border-teal-300 text-left">
   <div class="wrap flex">         
<button type="button" class="w-full text-left"
            {{on "click" this.showQuestion}}
            > 
<div class="font-bold">{{@model.title}}</div>
{{@model.description}}
</button>

{{#if this.shows}}
<div class="w-8 text-right block">
 
<Menu @id={{@model.id}} @label="form" @title="..." @edit={{this.editForm}}/>

</div>

{{/if}}
</div>
{{#if this.shows}}
<div {{on "change" this.formChange}} {{ref this "formElement"}}>
{{#each @model.questions as |question|}}

<FormQuestion @question={{question.question}}
              @rep={{question.rep}}              
              @value={{question.response}} 
              @formid={{@model.id}}
              @type={{question.type}}
              @multiEntry={{question.multiEntry}}
              @response={{question.response}}
              @id={{question.id}}
              @model={{question}}  
              @input={{this.input}}            
              />
{{/each}} 
  <button formid={{@model.id}} type="submit"  {{on "click" this.addSelections}}>Submit form</button>
</div>

<p></p>
{{#each @model.questions as |question|}}
{{#if question.multiEntry}}
{{#if question.response }}
<div class="border-b">
{{question.question}}
{{question.response}}
</div>
{{/if}}
{{/if}}
{{/each}} 


{{else}}
<p></p>
{{@question}}<button class="ml-2">{{@response}}</button>
<p></p>

{{/if}}


</div>   
</div>

{{/if}}
{{yield}}