{{#if @model.edit}}

{{#each @formTemplates as |formTemplate|}}
{{#if (eq formTemplate.id @model.templateId)}}
<EditForm 
 @forms={{@model}}
 @edit={{this.editForm}}
 @formTemplate={{formTemplate}}
/>
{{/if}}
{{/each}}
{{else}}

<div class="wrap flex">
<div class="w-full h-auto m-2 p-2 shadow-md
            border-2 rounded-md
            border-teal-300 text-left">
<div class="wrap flex">         
<button type="button" class="w-full text-left"
            {{on "click" this.showQuestion}}
            > 
<div class="font-bold">{{@model.title}}</div>
{{@model.description}}
</button>

{{#if this.shows}}
<div class="w-8 text-right block"> 
<Menu @id={{@model.id}}
      @label="form" 
      @title="..."
      @edit={{this.editForm}}/>
</div>

{{/if}}
</div>
{{#if this.shows}}
<div {{on "change" this.formChange}} 
     {{ref this "formElement"}}>
{{#each @model.questions as |question index|}}

<FormQuestion @form={{@model}}              
              @question={{question}}  
              @input={{this.input}}
              @index={{index}}              
              />

{{/each}} 

<button
 formid={{@model.id}}   
 type="submit"
 {{on "click" this.addSelections}}>Submit form
</button>
<p></p>
</div>

<!-- 
 Display multi-entry responses
(from all forms with matching templateId)
-->

{{#each @forms as |form|}}
{{#if form.multiEntry}}
{{#if (eq form.templateId  @model.templateId) }}
<div>
{{#each form.questions as |question index|}}
{{#if question.response}}

<FormQuestion @form={{@model}}                         
              @question={{question}}  
              @input={{this.input}}
              @index={{index}}
              @display={{true}}   
              @addSelections={{this.addSelections}}
              />

<p></p>
{{/if}}
{{/each}}
<hr>
</div>
{{/if}}
{{/if}}
{{/each}}
{{/if}}
</div>   
</div>

{{/if}}
{{yield}}