{{#if this.cameraStream}}

  <canvas class="inline w-screen" {{attach-qr-scanner this.cameraStream onData=this.handleData highlightColor='#4FD1C5'}}>
  </canvas>

 {{#each this.results as |array|}}

 {{#each array as |container|}}
<Card @route="task" @id={{container}} @title={{container.title}} @model="container"/>
{{else}}
<div class="px-2"><em>No search results</em></div>
{{/each}}
{{/each}}
  
  {{!-- {{#each this.scan as |container|}}

    {{container.id}}
 
  {{/each}} --}}
{{/if}}