
<div class="flex wrap m-1">
    <h2 class="py-2 m-1 flex-1">Recently Created</h2>
    <div class="relative">
        <Menu @label="projects" class="flex-1" @title="...Show menu" @showArchive={{this.showArchive}}/>
    </div>
</div>
<div {{did-insert this.recentFilter}}>
{{#each this.recent as |project|}}
<Card @route="project" @id={{project.id}} @title={{project.title}} @due={{project.dueDate}} @colour={{project.colour}}/>
{{/each}}
</div>
<div class="py-1">
<CreateCard @list={{this.list}} @label="Add New Project" @modelName="project"/>
</div>
<h2 class="py-1 m-1 ">👤 Personal Projects

{{#if this.show}}
<div class="m-2"> 
<Input class="border border-gray-400" 
      placeholder="Project name"
       @value={{this.search}} 
       {{on "change" this.filter}}
       {{did-insert this.focus}}
       /> 
 <button {{on "click" this.showSearch}} class="font-bold px-2">X</button>
<div class="py-2">
 'Due Date' less than <Input type="date" @value={{this.date}} class="border border-gray-400"
    {{did-insert this.defaultDate}}  {{on "change" this.filter}}/> 
</div>

</div>
{{else}}
<span><button 
class="m-2" 
{{on "click" this.showSearch}} 
{{did-insert this.filter}}>
🔍
</button></span>
{{/if}}
</h2>
{{#each this.results as |project|}}
<Card @route="project" @id={{project.id}} @title={{project.title}} @due={{project.dueDate}} @colour={{project.colour}}/>
{{else}}
<div class="px-2"><em>No search results</em></div>
{{/each}}



{{#each this.archives  as |project|}}
{{#if (and (eq project.archive true) (gte project.modifiedDateValue this.date)) }}
<div {{did-insert this.archiveDate}}>
<Card @model={{project}}/>
</div>
{{/if}}
{{/each}}
{{#if this.archive}}
<div class="m-1"> Archived forms   <button type="button" class="font-bold" {{on "click" this.showArchive}}>X</button></div>
{{#each this.archives  as |project|}}   
{{#if project.archive}}
<div {{did-insert this.archiveDate}}>
<Card @model={{project}}/>
</div>
{{/if}}
{{/each}}
{{/if}}



{{yield}}