{{#if this.show}}
<div {{on-click-outside this.removeMenuList}}> 
<div class ="relative block right-0 float-right pr-32 m-1 text-left" >
<div class="absolute bg-white p-1 rounded-lg border-gray-200 border-2 shadow-sm">
    <div class="flex wrap"> 
<div class="flex-1 py-1">
    <button type="button" class="w-full" {{on "click" this.hideMenuList}}>Menu</button>
     </div>
   <button type="button" class="text-right flex-1 px-2 font-bold" {{on "click" this.hideMenuList}}>
        X
        </button>
  </div> 
{{#if (eq @label "projects")}}

<div class="block py-2">Create New Project</div>
<div class="block py-2">Create New Team</div>
<div class="block py-2">Print...</div>
<div class="block py-2" {{on "click" this.showingArchive}}> <button type="button">Show Archived Projects</button></div>

{{/if}}

{{#if (eq @label "project")}}

<div class="block py-2">Add New Task</div>
<div class="block py-2">Edit Project</div>
<div class="block py-2" {{on "click" this.removeProject}}>
    <button class="text-left" type="button">Remove Project</button></div>
<div class="block py-2" {{on "click" this.showingArchive}}> <button type="button">Show Archived Tasks</button></div>
<div class="block py-2" {{on "click" this.showPrint}}> <button type="button">Print...</button></div>

{{/if}}

{{#if (eq @label "task")}}

<div class="block py-2">Add New Form</div>
<div class="block py-2">Edit Task</div>
<div class="block py-2" {{on "click" this.removeTask}}>
    <button type="button">Remove Task</button>
    </div>
<div class="block py-2" {{on "click" this.showingArchive}}>
    <button type="button">Show Archived Forms</button>
   </div>
<div class="block py-2" {{on "click" this.showPrint}}> <button type="button">Print...</button></div>

{{/if}}

{{#if (eq @label "container")}}

<div class="block py-2">Add Container</div>
<div class="block py-2">Remove Container</div>
<div class="block py-2" {{on "click" this.showPrint}}> <button type="button">Print...</button></div>

{{/if}}

{{#if (eq @label "form")}}

<div class="left-0 block py-2">
    <button class="left-0 block text-left" type="button" {{on "click" @edit}}>Edit Form Template</button>
    </div>   
     {{#if @model.multiEntry}}
   <div class="block py-2" {{on "click" this.removeAllForms}}>
    <button type="button" class="left-0 block text-left">Remove All Form(s)</button>
     </div>
   {{else}}
   <div class="block py-2" >
    <button type="button" {{on "click" this.removeForm}}>Remove Form</button>
     </div>
  {{/if}}
 <div class="block py-2">
         <button type="button" class="left-0 block text-left"  {{on "click" @add}}>Add Container</button>
 </div>
<div class="block py-2">Print...</div>

{{/if}}
</div>
</div>
</div>
{{else}}
<Menu @label={{@label}} @edit={{@edit}} @model={{@model}} @add={{@add}}  @archive={{@archive}} @id={{@id}} class="flex-1"  @showPrint={{@showPrint}} @showArchive={{@showArchive}} @title="..."/>

{{/if}}