

{{!-- app/templates/login.hbs --}}
<form {{on "submit" this.login}}>
  <label for="identification">Username</label>
  <input id='identification' placeholder="Enter Login" value={{this.identification}} {{on "change" this.updateIdentification}}>
  <label for="password">Password</label>
  <input id='password' placeholder="Enter Password" value={{this.password}} {{on "change" this.updatePassword}}>
  <button type="submit">Login</button>
  {{#if this.error}}
    <p>{{this.error}}</p>
  {{/if}}
</form>