

<div class="flex wrap m-1">   
<LinkTo @route="projects" class="py-2 flex-1" > 
<div class="p-2 w-11/12 text-gray-900 border border-gray-200 rounded-lg"> 
 ᐸ Back to Projects
     </div>
</LinkTo> 
 
<div class="relative">
   <Menu @label="project" @title="...Show menu" class="flex-1" /></div>
   </div>
<div style="background-color:{{{@model.colour}}};" class="p-2 rounded-lg border-gray-400 border-2 m-2">
<p></p>
<div   class="font-bold">{{@model.projectTemplate.title}}</div>

<p></p>
{{@model.description}} {{@model.percentageComplete}}
<p></p>

<DueDate @due={{@model.dueDate}} @id={{@model.id}}/>


<hr>
Tasks:
<br>
Templates:
{{#each @model.tasks as |task|}}
{{task.taskTemplate.title}}
{{/each}}
{{#each @model.tasks as |task|}}

<Card @title={{task.title}}
       @route="task"
       @id={{task.id}}        
       @forms={{task.forms}}
       @colour="#edf2f7"/>
       {{else}}
       No tasks assigned
{{/each}}

 </div>
<CreateCard @label="Add New Task"
            @modelName="task"/>

           

{{outlet}}