

<div class="flex wrap m-1">   
<LinkTo @route="projects" class="py-2 flex-1" > 
<div class="p-2 w-11/12 text-gray-900 border border-gray-200 rounded-lg"> 
 ᐸ Back to Projects
     </div>
</LinkTo> 
 
<div class="relative">
   <Menu @label="project" @title="...Show menu" class="flex-1" @showArchive={{this.showArchive}} /></div>
   </div>
<div style="background-color:{{{@model.colour}}};" class="p-2 rounded-lg border-gray-400 border-2 m-2">
<p></p>
<div   class="font-bold">{{@model.title}}</div>

<p></p>
{{@model.description}} {{@model.percentageComplete}}
<p></p>

<DueDate @due={{@model.dueDate}} @id={{@model.id}}/>


<hr>
Tasks:
<br>
{{!-- Templates:
{{#each @model.tasks as |task|}}
{{task.taskTemplate.title}}
{{/each}} --}}
{{#each @model.tasks as |task|}}
  {{#if (eq task.archive false)}}

<Card @title={{task.title}}
       @route="task"
       @id={{task.id}}        
       @forms={{task.forms}}
       @colour="#edf2f7" 
       />   
   {{/if}}
{{/each}}
 
 </div>
<CreateCard @label="Add New Task"
            @modelName="task"/>           

{{#each @model.tasks  as |task|}}
{{#if (and (eq task.archive true) (gte task.modifiedDateValue this.date)) }}
<div {{did-insert this.archiveDate}}>
<Card @model={{task}}/>
</div>
{{/if}}
{{/each}}
{{#if this.archive}}
<div class="m-1"> Archived forms   <button type="button" class="font-bold" {{on "click" this.showArchive}}>X</button></div>
{{#each @model.tasks  as |task|}}   
{{#if task.archive}}
<div {{did-insert this.archiveDate}}>
<Card @model={{task}}/>
</div>
{{/if}}
{{/each}}
{{/if}}


{{outlet}}