<div class="flex wrap"><h2 class="py-2 m-1 flex-1">Recents </h2>
<div class="relative">
    <Menu @label="projects" class="flex-1" @title="...Show menu"/></div></div>

{{#each model as |project index|}}
{{#if (lt index 3)}}
<Card @route="project" @model={{project.id}} @title={{project.title}}/>
{{/if}}
{{/each}}


<h2 class="m-1 w-1/2">Projects </h2>

<CreateCard @list={{this.list}} @label="Create New Project"/>
{{#each model as |project|}}

<Card @route="project" @model={{project.id}} @title={{project.title}}/>

{{/each}}




{{outlet}}