

<div class="m-2">
    <div class="flex wrap">
<LinkTo class="py-2 flex-1 text-blue-600" @route="project" @model={{@model.task.project.id}}>
  ᐸ Back to {{@model.task.project.title}}
</LinkTo>
<div class="relative">
<Menu @label="task" @id={{@model.task.project.id}} class="flex-1" @title="...Show menu" />
</div>
    </div>


<div class="font-bold">Task: {{@model.task.title}}</div>



</div>

<Forms 
       @forms={{@model.task.forms}}
       @formTemplates={{@model.formTemplate}}/>



{{outlet}}



