

<div class="m-2">
    <div class="flex wrap">
<LinkTo class="py-2 flex-1 text-blue-600" @route="project" @model={{@model.task.project.id}}>
Back to {{@model.task.project.title}}
</LinkTo>
<div class="relative">
<Menu @label="task" @id={{@model.task.project.id}} class="flex-1" @title="...Show menu" />
</div>
    </div>


<div class="font-bold">Task: {{@model.task.title}}</div>



  {{#each @model.task.forms as | allform|}}    
   {{allform.title}}
  {{/each}}

</div>

<Forms 
       @forms={{@model.task.forms}}
       @formTemplates={{@model.formTemplate}}/>


<CreateCard @list={{@model.formTemplate}} @modelName="form" @label="Add New Form"/>



{{outlet}}



